html {
  background-color: rgb(32, 32, 32);
}

:root {
  --square-size: 80px;
  --captured-piece-size: 40px;
  --font-size: 1rem;
}

* {
  user-select: none;
}

.container {
  display: grid;
  margin: auto;
  justify-content: start;
  margin: auto 3em;

  align-self: center;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    " turn board moves-list"
    "captured-black board moves-list"
    "captured-white board moves-list"
    "btns board  moves-list";
}

chess-board {
  width: calc(var(--square-size) * 8);
  height: calc(var(--square-size) * 8);
  border: solid rgb(23, 23, 23) 5px;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 3em auto;
  box-shadow: 0px 0px 20px 10px rgb(185, 184, 184);
  grid-area: board;
  justify-self: center;
  align-self: center;
}

.game-btns {
  grid-area: btns;
  display: block;
}

.moves-list {
  grid-area: moves-list;
  display: block;
  border: 3px solid black;
  background-color: aliceblue;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: auto;
}

#captured-black {
  grid-area: captured-black;
  color: #49a6e9;
}

#captured-black > h2 {
  color: #49a6e9;
  font-size: 25px;
  font-weight: 800;
}

#captured-white {
  grid-area: captured-white;
  
}
#captured-white > h2 {
  color: brown;
  font-size: 25px;
  font-weight: 800;
}

#white-pieces {
  width: 250px;
  height: 100px;
  border: solid rgb(23, 23, 23) 5px;
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
}
chess-piece {
  width: var(--captured-piece-size);
  height: var(--captured-piece-size);
}

#black-pieces {
  width: 250px;
  height: 100px;
  border: solid rgb(23, 23, 23) 5px;
  background-color: #49a6e9;
  display: flex;
  flex-wrap: wrap;
}

.turn {
  margin-top: 3em;
  color: #49a6e9;
  grid-area: turn;
  align-self: end;
}

end-game-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

draw-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

undo-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

undo-review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}