html {
  background-color: rgb(32, 32, 32);
}

body, button {
  font-family: courier;
}

:root {
  --responsive-size: 4rem;
  --min-size: 3rem;
  --captured-piece-size: 1rem;
  --element-size: 1rem;
  --icon-size: 1.5rem;
}

.ghost-move {
  position: absolute;
  top: 50%;
  left: 50%;
  --translate: translate(-50%, -50%);
  transform: var(--translate);
  color: rgba(129, 133, 137, 0.6);
}

.active {
  background-color: rgba(241, 213, 155, 255);
}

@keyframes pulse-circle {
  0% {
    transform: var(--translate) scale(1);
  }
  50% {
    transform: var(--translate) scale(0.9);
  }
  100% {
    transform: var(--translate) scale(1);
  }
}
